<section>
  <h1>Server stats</h1>

  <dl>
    <dt>Total session count</dt>
    <dd><%= @total_session_count %> </dd>
    <dt>Active session count</dt>
    <dd><%= @active_session_count %> </dd>
    <dt>Expired session count</dt>
    <dd><%= @expired_session_count %> </dd>
  </dl>
</section>
